* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


#loader{
    color:darkblue;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: Disparition 3s forwards;
    opacity: 1;
    visibility: visible;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    background:lightgray;
}

#entete{
  background-color: rgb(255, 0, 0);
  display: flex;
  align-items:end;
  justify-content: center;
}



body{
  background-color: black
}
main{
    width: 95%;
    display: flex;
    background-color: lightgray;
    padding: 5px;

}


@keyframes Disparition {
    0% {
      opacity: 1;
      visibility: visible;
    }
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }