* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


#loader{
    color:darkblue;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: Disparition 3s forwards;
    opacity: 1;
    visibility: visible;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    background:lightgray;
}

#entete{
  background-color: rgb(255, 0, 0);
  display: flex;
  align-items:end;
  justify-content: center;
}
img{
  width: 100%;
  height: auto;
}

.som {
  display: flex;
  justify-content: center;
  border: 2px solid darkslategray;
  border-radius: 12px;
  background-color: rgb(164, 223, 243);
  padding: 5px;
  margin: 10px;
  width:30%;
}


.Sommaire{
  display: flex;
  justify-content: center;


}

#tree{
  background-color: lightgray;
  width: 98%;
  margin: auto;
  padding: 5px;
}
.title{
  display: flex;
  justify-content: center;
}

body{
  margin: auto;
  background-color: blueviolet;
}

#accueil {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr 1fr 1fr ;
}


@keyframes Disparition {
    0% {
      opacity: 1;
      visibility: visible;
    }
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }