* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


#loader{
    color:darkblue;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: Disparition 3s forwards;
    opacity: 1;
    visibility: visible;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    background:lightgray;
}


main{
    width: 90%;
    margin: auto;
}

@keyframes Disparition {
    0% {
      opacity: 1;
      visibility: visible;
    }
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }