* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.img_header{
  max-width:100px ;
}
#loader{
    color:darkblue;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: Disparition 3s forwards;
    opacity: 1;
    visibility: visible;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    background:lightgray;
}

#header{
  display: grid;
  grid-template-columns: 30% 70%;
}

#First{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#Second{
  display: flex;
  align-items: center;
  justify-content: end;
}
#Main_Header{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: azure;
  display: flex;
  align-items: center;
}


#entete{
  background-color: rgb(255, 0, 0);
  display: flex;
  align-items:end;
  justify-content: center;
}
img{
  width: 100%;
  height: auto;
}

header{
  border: 2px solid white;
  
  background: rgba(0, 0, 0, 0.9);
}

div{
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid ;
  border-radius: 8px;

}
.paragraphe{
  color: bisque;
}

.title{
  display: flex;
  justify-content: center;
}

body{
  margin: auto;
  background-image: url(/images/Silksong_Promo_01.png);
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-size: 100% 100%;
}


main{
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 1fr 1fr ;

  
  border-radius: 8px;
  margin: 5% 5% ;
}




@keyframes Disparition {
    0% {
      opacity: 1;
      visibility: visible;
    }
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }