* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}


.img_header {
  max-width: 200px;
}

#loader {
  color: darkblue;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: Disparition 3s forwards;
  opacity: 1;
  visibility: visible;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  background: lightgray;
}

#header {
  display: flex;

  align-items: center;
  justify-content: space-between;
}

#First {
  display: flex;
}

#Second {
  display: flex;
  align-items: center;
  justify-content: end;
}

#Main_Header {
  padding: 10px;
  color: azure;
  display: flex;
  align-items: center;
}



header {
  border: 2px solid white;

  background: rgba(0, 0, 0);
}

div {
  display: flex;
  justify-content: center;
}

#text {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid;
  border-radius: 8px;

}

.paragraphe {
  color:white;
  font-size: large;
}

h2{
  font-size:xx-large;
  color: bisque;
  margin-bottom: 20px;
}

footer nav p {
  text-align: center;
  color: white;
  margin: 50px;
}
#Jeu_Text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
  
}
.title {
  display: flex;
  justify-content: center;
}

#Accueil {
  margin: auto;
  background-image: url(./images/Silksong_Promo_01.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

#Jeu_Board {
  background-color: black;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr 1fr 1fr;
  margin-block: 0.5%;
}

#Jeu_Board img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#Board_Container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 50px;

}

#Main_Accueil {
  display: flex;
  margin: 5% 5%;
}

#Under_Main_Jeu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px 10% 0px;
}
#Under_Main_Jeu *{
  text-align: center;
}

#Main_Jeu {
  background-image: url(./images/image_1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1000px;
}

#Jeu_Soundtrack {
  display: grid;
  grid-template-columns: 50% 50%;
}

#Jeu_Soundtrack div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left:25% ;
}

#Sound_Img_Div {
  background-color: black;
  display: flex;
  justify-content: center;
  align-content: center;
}

#Sound_Img {
  width: 50%;
}

#YTB {
  border: 3px solid #f1f1f1;
  width: 80%;
  height: 800px;
}

@keyframes Disparition {
  0% {
    opacity: 1;
    visibility: visible;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}

#Burger { 
  display: none; 
}


.nav-mobile {
  left: 0%;
  position: absolute;
  background: #000000;
  width: 100%;
  z-index: 1;
}

.nav-mobile a {
  color: #fff;
  padding: 1rem 1.5rem;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-mobile {
  display: none;
}

#check:checked~.nav-mobile {
  display: block;
}

.checkbtn {
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}

#burger {
  padding: 1.5rem 2rem;
  background-color: #222831;
  color: #fff;
}

label {
  display: none;
}

input {
  display: none;
}

@media screen and (max-width: 768px) {
  #Navigation {
    display: none;

  }
  #Burger{
    display:block;
  }

  #Main_Header:first-child {
    display: none;
  }

  #header {
    .checkbtn {
      display: block;
      font-size: 5rem;
      top: 30px;
    }

    .nav-mobile {
      top: 160px;
      width: 100%;
    }

    .nav-mobile a {
      font-size: 2rem;
    }
  }
  
  #Main_Accueil {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5% 5% 5%; 
  }

#Main_Jeu {
  height: 500px;
}

#YTB{
  height: 300px;
}

}


#Carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}

.carousel {
  width: 100%;
  max-width: 70%;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(255, 228, 196, 0.2);
}

.carousel-slides {
  display: flex;
  animation: slide 20s infinite ease-in-out;
}

.slide {
  min-width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit:fill;
}

@keyframes slide {
  0% {
    transform: translateX(200%);
  }

  16% {
    transform: translateX(200%);
  }

  20% {
    transform: translateX(100%);
  }

  36% {
    transform: translateX(100%);
  }

  40% {
    transform: translateX(0%);
  }

  56% {
    transform: translateX(0%);
  }

  60% {
    transform: translateX(-100%);
  }

  76% {
    transform: translateX(-100%);
  }

  80% {
    transform: translateX(-200%);
  }

  96% {
    transform: translateX(-200%);
  }

  100% {
    transform: translateX(200%);
  }
}




