* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}

a {
  text-decoration: none;
}

html,
body {
  overflow-x: hidden;
  max-width: 100vw;
}


.img_header {
  max-width: 200px;
}

#loader {
  color: darkblue;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: Disparition 3s forwards;
  opacity: 1;
  visibility: visible;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  background: lightgray;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#First {
  display: flex;
}

#First div {
  margin: 0px 5px;
}

#Second {
  display: flex;
  align-items: center;
  justify-content: end;
}

#Navigation a span:hover {
  transform: scale(1.2);
  filter: brightness(50%);
}

#Navigation a span {
  transition: filter 0.3s, transform 0.3s;
}

.Main_Header:hover {
  transform: scale(1.2);
  filter: brightness(50%);
}

.Main_Header a {
  color: #c0c0c0;
}

.Main_Header {
  transition: filter 0.3s, transform 0.3s;
}


#First div nav {
  color: azure;
  display: flex;
  align-items: center;
}

header {
  border: 2px solid white;
  background: rgba(0, 0, 0);
}

div {
  display: flex;
  justify-content: center;
}

#text {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid;
  border-radius: 8px;

}




.paragraphe {
  color: white;
  font-size: large;
  text-align: center;
}

h2 {
  font-size: xx-large;
  color: bisque;
  margin-bottom: 20px;
}

#Acceuil_footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

footer nav p {
  text-align: center;
  color: white;
  margin-top: 30px;
}

#Jeu_Text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;

}

.title {
  display: flex;
  justify-content: center;
}

#Accueil {
  margin: auto;
  background-image: url(./images/Silksong_Promo_01.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

#Jeu_Board {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr 1fr 1fr;
  margin-block: 0.5%;
}

#Jeu_Board img {
  width: 100%;
  height: auto;
  transition: transform 0.5s;
}

#Jeu_Board img:hover {
  transform: scale(1.2);
}

#Board_Container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 50px;
}

#Main_Accueil {
  display: flex;
  margin: 5% 5%;
}

#Under_Main_Jeu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px 10% 0px;
}

#Under_Main_Jeu * {
  text-align: center;
}

#Main_Jeu {
  background-image: url(./images/image_1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1000px;
}

#Jeu_Soundtrack {
  display: grid;
  grid-template-columns: 50% 50%;
}

#Jeu_Soundtrack div:nth-child(1) {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 25%;
}

#Jeu_Soundtrack div:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
}

#Sound_Img {
  width: 50%;
  height: auto;
  transition: transform 0.3s;
}


#Sound_Img:hover {
  transform: scale(1.2);

}

#YTB {
  border: 3px solid #f1f1f1;
  width: 80%;
  height: 800px;
}





.nav-mobile {
  left: 0%;
  position: absolute;
  background: #000000;
  width: 100%;
  z-index: 1;
}

.nav-mobile a {
  color: #c0c0c0;
  padding: 1rem 1.5rem;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
}

#Burger {
  display: none;
}


.nav-mobile {
  display: none;
}

#check:checked~.nav-mobile {
  display: block;
}

.checkbtn {
  font-size: 1.5rem;
  color: white;
}


label {
  display: none;
}

input {
  display: none;
}




#Carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}



.carousel {
  width: 100%;
  max-width: 70%;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(255, 228, 196, 0.2);
}

.carousel-slides {
  display: flex;
  animation: slide 20s infinite ease-in-out;
}

.slide {
  min-width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

@keyframes Disparition {
  0% {
    opacity: 1;
    visibility: visible;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}


@keyframes slide {
  0% {
    transform: translateX(200%);
  }

  16% {
    transform: translateX(200%);
  }

  20% {
    transform: translateX(100%);
  }

  36% {
    transform: translateX(100%);
  }

  40% {
    transform: translateX(0%);
  }

  56% {
    transform: translateX(0%);
  }

  60% {
    transform: translateX(-100%);
  }

  76% {
    transform: translateX(-100%);
  }

  80% {
    transform: translateX(-200%);
  }

  96% {
    transform: translateX(-200%);
  }

  100% {
    transform: translateX(200%);
  }
}


@media screen and (max-width: 768px) {
  #Navigation {
    display: none;

  }

  #Burger {
    display: block;
  }

  #Burger div a p {
    border-radius: 10px;
    padding: 2px;
    background-color: #1a1a1a;
    border: 2px solid #c0c0c0;
    ;
  }

  #Burger_Navigation a span:hover {
    transform: scale(1.2);
    filter: brightness(50%);
  }

  #Burger_Navigation a span {
    transition: filter 0.3s, transform 0.3s;
  }

  #Burger_Navigation {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .nav-mobile a:hover {
    transform: scale(1.2);
  }

  .Main_Header a {
    display: none;
  }

  #header {
    .checkbtn {
      display: block;
      font-size: 5rem;
      top: 30px;
    }

    .nav-mobile {
      width: 100%;
    }

    .nav-mobile a {
      font-size: 2rem;
    }
  }

  #Main_Accueil section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  #Main_Accueil img {
    width: 100%;
  }

  #Main_Jeu {
    height: 500px;
  }

  #YTB {
    height: 300px;
  }

  #Board_Container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

  #Jeu_Board {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr;
    
  }

  #Jeu_Text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;

  }

  #Jeu_Soundtrack {
    display: flex;
    flex-direction: column;
  }

  #Jeu_Soundtrack div:nth-child(1) {
    display: flex;
    flex-direction: column;
    margin-left: 0%;
    margin-bottom: 50px;
  }
  #Jeu_Soundtrack div:nth-child(1) p {
    margin: 20px;
  }






}

@media screen and (max-width: 460px) {
  #First div nav img {
    width: 100%;
  }




}



#moi {
  background: linear-gradient(170deg, #EEBD73 0%, #CC4837 100%);
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#moi h1 {
  margin: 20px;
  color: white;
}

#moi p {
  color: bisque;
  margin-top: 30px;
}


.profile-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid white;
  margin-bottom: 30px;
  object-fit: cover;
  transition: transform 0.3s;
}

.profile-image:hover {
  transform: scale(1.2);
}

#description {
  padding: 80px 10%;
  background-color: #3b3b3b;
}

#description h2 {
  font-size: 2.5rem;
  color: bisque;
  margin-bottom: 30px;
  text-align: center;
}



#interet {
  padding: 80px 10%;
  background: linear-gradient(190deg, #c54534 0%, #351b15 100%);

}

#interet h2 {
  font-size: 2.5rem;
  color: bisque;
  margin-bottom: 50px;
  text-align: center;
}

.interet {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

.interet div {
  background: #3b3b3b;
  padding: 40px;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  transition: transform 0.3s, border-color 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.interet div:hover {
  transform: translateY(-10px);
  border-color: rgb(255, 140, 0);
}

.interet div h3 {
  color: bisque;
  margin-bottom: 15px;
  margin: 15px;
}

.interet div p {
  color: #c0c0c0;
  font-size: 1rem;
}


#Parcours {
  padding: 80px 10%;
  background-color: #1a1a1a;
}

#Parcours h2 {
  font-size: 2.5rem;
  color: bisque;
  margin-bottom: 50px;
  text-align: center;
}

.parcours {
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.025);
  padding: 30px;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  transition: transform 0.3s, box-shadow 0.3s, border-color 0.3s;
  box-shadow: 0 10px 30px rgba(255, 228, 196, 0.2);
}

.parcours:hover {
  transform: translateY(-10px);
  border-color: rgb(255, 255, 255);
  box-shadow: 0 10px 30px rgba(255, 255, 255, 0.63);
}

.parcours div {
  margin-bottom: 50px;
  color: bisque;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.parcours div h3 {
  font-size: 1.5rem;
  margin: 0px 10px 10px;
}

#contact {
  padding: 80px 10%;
  background: linear-gradient(180deg, #1a1a1a 0%, #000000 100%);
  text-align: center;
}

#contact h2 {
  font-size: 2.5rem;
  color: bisque;
  margin-bottom: 30px;
}

#contact p {
  font-size: 1.2rem;
  color: #c0c0c0;
  margin-bottom: 40px;
}

#contact div {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

#contact div a {
  color: white;
  font-size: 2rem;
  transition: color 0.3s, transform 0.3s;
}

#contact div a:hover {
  color: bisque;
  transform: scale(1.2);
}